body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #2C3E50;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    position: relative;
    width: 50%;
    background: #2d3748;
    color: white;
    padding: 0px;
    text-align: center;
}
.profile-photo {
    background-image: url('img/рез.jpg');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    border: none;
}

.photo-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background:rgba(255, 255, 255, 0.5);
    padding: 3px;
    text-align: center;
}


.name {
    color: #2C3E50; 
    font-size: 37px;
    font-weight: bold;
}
.age {
    color:#2C3E50;
    font-size: 22px;
    text-decoration-line: none;
}

.skills {
    color: #E6E0E9;
    text-align: left;
    margin-top: 20px;
}

.skills h3 {
    text-indent: 1em;
    color: #CCC2DC;
    font-size: 20px;
    border-bottom: 2px solid #ccc2dc;
    padding-bottom: 5px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    text-indent: 0.5em;
    font-size: 14px;
    margin: 5px 0;
}

.content {
    width: 70%;
    padding: 20px;
}

.about, .education, .projects, .contact {
    margin-bottom: 20px;
}

.inform{
    color: #2d3748;
    border-bottom: 2px solid #2d3748;
    padding-bottom: 5px;
}
.projects {
    width: 100%;
    height: auto;    
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.project {
    display: inline-block;
    width: 45%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1.5px solid #ddd;
    background: #f1f1f1;
    
}

.project:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    transition: transform 0.9s, border 0.5s, background-color 0.3s;
    background-color: #2C3E50;
    color: #E6E0E9;
    border: 1.5px solid #2C3E50;
}

.links a {
    display: block;
    margin-top: 5px;
    color: white;
    background: #007bff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    
}
.contact p {
    margin: 5px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
}

.cont {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    background: #E6E0E9;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.cont:hover {
    /* background-color: #e2e6ea; */
    background-color: #2d3748;
    transform: scale(1.05);
}

.cont img {
    margin-left: auto;
    margin-right: 10px;
    border: 2px solid #172026;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    transition: invert 0.3s;
}

.cont:hover img {
    filter: invert(100%);
}
.cont a {
    flex-grow: 1;
    text-align: left;
    color: #2C3E50;
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
}

.cont a:hover {
    color: #007bff;
}

.socials a {
    display: block;
    margin-top: 5px;
    color: #E6E0E9;
    background: #2d3748;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s, border 0.3s, border-radius 0.3s;
    
}

.socials a:hover {
    transform: scale(1.05);
    /* border-radius: 20px; */
    border: 3px solid #ddd;
    background-color: #2d3748;
}
